@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

span {
  display: inherit;
  margin: 32px 0 64px 0;
  color: #666666;
  font-size: 16px;
}
.container.top {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav {
  display: flex;
  margin-right: 30px;
}
.nav .home {
  color: #eb5757;
}
.nav a {
  display: block;
  height: 80px;
  padding: 0 30px;
  line-height: 80px;
}

.cart {
  position: relative;
}

.cart p {
  background: red;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 16px;
  position: absolute;
  top: -6px;
  right: -6px;
}

.cart i {
  display: inline-block;
  font-size: 24px;
}

/* section_01 */

.slide {
  background: #f5f5f5;
}

.slide .container {
  height: 600px;
  background: #f5f5f5 url('./images/tab-s78.jpg') no-repeat right center;
}

.slide_text {
  padding-top: 160px;
}

.slide_text h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 80px;
  line-height: 1.2;
}

.slide_text .btns {
  margin-left: 30px;
}

.slide_text .btns .btn_line {
  display: inline-block;
  padding: 20px 0;
  border-bottom: 2px solid #111;
  margin-right: 50px;
}

.slide_text .btns .btn {
  display: inline-block;
  background: #111;
  color: #f2f2f2;
  padding: 20px 40px;
  border-radius: 80px;
}

/* section_02 */
.section_02 {
  height: 600px;
}

.item {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.item .item_01,
.item .item_02 {
  display: flex;
  width: 560px;
  height: 320px;
  background: #f5f5f5;
  margin-top: 140px;
}

.item h4 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 89px;
}
.item p {
  font-size: 16px;
  color: #666666;
  margin-top: 21px;
}
.item .btn {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #111;
  margin-top: 45px;
  border-radius: 20px;
  padding: 10px 25px;
}
.item img {
  width: 150px;
  margin: 80px 40px;
}

/* section_03 */
.section_03 {
  height: 570px;
}

.section_03 .text {
  text-align: center;
}

.section_03 .photo {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.section_03 .photo a {
  width: 260px;
  height: 260px;
  background: #f2f2f2;
}

.section_03 .photo a img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  line-height: 260px;
}

/* section_04 */
.section_04 {
  background: url(./images/image\ 5.jpg) no-repeat 52%;
  background-color: #070707;
  width: 100%;
  height: 600px;
}

.section_04 .container .text {
  color: #fff;
  padding: 169px 0;
  margin-left: 42px;
}
.section_04 .text h1 {
  border-top: 169px;
  font-size: 64px;
  font-weight: 700;
}
.section_04 .text p {
  margin-top: 31px;
  font-size: 24px;
  line-height: 1.6;
}
.section_04 .text .btn {
  font-size: 16px;
  padding: 14px 38px;
  background: #fff;
  border-radius: 30px;
  margin-top: 56px;
  border-style: none;
}

/* section_05 */
.section_05 {
  height: 990px;
}

.section_05 .text {
  text-align: center;
  padding-top: 140px;
}

.section_05 .photo {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section_05 .photo a {
  width: 260px;
  height: 260px;
  background: #f2f2f2;
  /* margin-top: 40px; */
}
.section_05 .photo a:nth-child(5),
.section_05 .photo a:nth-child(6),
.section_05 .photo a:nth-child(7),
.section_05 .photo a:nth-child(8) {
  margin-top: 40px;
}
.section_05 .photo a img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  line-height: 260px;
}

/* section_06 */

.section_06 {
  height: 650px;
}

.section_06 .text {
  text-align: center;
}

.section_06 .photo {
  display: flex;
  justify-content: space-between;
}

.section_06 .photo li {
  width: 360px;
  height: 360px;
  border-radius: 30px;
  background: red;
}
.section_06 .photo li:nth-child(1) {
  background: url(./images/pc_01_kv_kor_200325.jpg) no-repeat center;
  background-size: cover;
}
.section_06 .photo li:nth-child(2) {
  background: url(./images/mo_21_kv_200318.jpg) no-repeat center;
  background-size: cover;
}
.section_06 .photo li:nth-child(3) {
  background: url(./images/mkt_pdp_flagship_kv_s7_200818.jpg) no-repeat center;
  background-size: cover;
}

/* footer_left */
footer {
  height: 600px;
  background: #222222;
  color: #ffffff;
  padding: 120px 0;
  overflow: hidden;
}

.footer .left {
  float: left;
}

.footer .left .bottom_text {
  line-height: 1.4;
  margin: 41px 0 14px 0;
}

.email {
  display: flex;
}
.email .adress {
  width: 358px;
  height: 50px;
  border: none;
  outline: none;
}

.email input {
  padding: 20px;
}
.email .check {
  width: 100px;
  height: 50px;
  background: #eb5757;
  border-style: none;
  color: #fff;
}
.footer .left button {
  margin: 20px 20px 20px 0px;
  border: 1px solid #666666;
  background: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
}

.footer .left .btn a {
  display: flex;
}

.footer .left .btn i {
  padding: 9px 16px;
}

.footer .left .btn p {
  padding: 12px 20px 12px 0;
}

.i_tag {
  margin: 20px 16px 65px 0;
}
.i_tag i {
  margin-right: 16px;
}

/* footer_right */
.footer .right {
  float: right;
  width: 560px;
}

.footer .right .bottom_menu {
  display: flex;
}

.footer .right .bottom_menu li h4 {
  margin: 0 100px 52px 0;
  font-size: 20px;
  font-weight: 700;
}
.footer .right .bottom_menu .bottom_p li {
  margin-bottom: 30px;
}
